@use "./variables" as v;
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1920px;
  padding-inline: clamp(16px, 7vw, 64px);
  margin-inline: auto;
  box-sizing: border-box;
  width: 100%;
}

.see-more {
  all: unset;
  border: 2px solid v.$text-dark;
  border-radius: 24px;
  padding: 12px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: v.$text-dark;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.132);
  }
}
